<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="" method="post">
	{% csrf_token %}
	<fieldset >
		<legend style="border: 1px dashed;">Resume</legend>
		
		<label>First name : </label><br>
		<input type="text" name="txtfname" placeholder="Enter First Name"><br><br>
		<label>Last name : </label><br>
		<input type="text" name="txtlname" placeholder="Enter Last Name"><br><br>
		<label>City-India : </label><br>
		<input type="text" name="txtcity" placeholder="Enter City Name"><br><br>
		<label>Mobile : </label><br>
		<input type="text" name="txtmobile" placeholder="Enter Enter Mobile Number"><br><br>
		<label>Education : </label><br>
		<select name="txteducation">
			<option hidden="">Select</option>
			<option value="none">None</option>
			<option value="secondary">Secondary(10th pass)</option>
			<option value="hsecondary">Higher Secondary(12th pass)</option>
			<option value="diploma">Diploma</option>
			<option value="bachelor">Bachelor Degree</option>
			<option value="master">Master Degree</option>
			<option value="doctrate">Doctrate</option>
		
		</select><br><br>
		<label>Field of Study : </label><br>
		<input type="text" name="txtstudy" placeholder="Eg: Computer,Electronics"><br><br>
		<label>College or University : </label><br>
		<input type="text" name="txtcollege" placeholder="Enter College Name"><br><br>
		<label>Time Period : </label><br>
		From<br>
		<select name="startm">
			<option hidden="">Month : </option>
			<option value="jan">January</option>
			<option value="feb">February</option>
			<option value="march">March</option>
			<option value="april">April</option>
			<option value="may">May</option>
			
			<option value="june">June</option>
			<option value="july">July</option>
			<option value="august">August</option>
			<option value="sept">September</option>
			
			<option value="oct">October</option>
			<option value="nov">November</option>
			<option value="dec">December</option>		
		</select>
		<select name="startyear">
			<option hidden="">Year</option>
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>

			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			
		</select><br>
		To<br>
		<select name="endm">
			<option hidden="">Month : </option>
			<option value="jan">January</option>
			<option value="feb">February</option>
			<option value="march">March</option>
			<option value="april">April</option>
			<option value="may">May</option>
			
			<option value="june">June</option>
			<option value="july">July</option>
			<option value="august">August</option>
			<option value="sept">September</option>
			
			<option value="oct">October</option>
			<option value="nov">November</option>
			<option value="dec">December</option>		
		</select>
		<select name="endyear">
			<option hidden="">Year</option>
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>

			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			
		</select><br><br>

		<label>Work Experience : </label><br>
		<input type="text" name="txtexp" placeholder="Enter Job Title"><br><br>
		<label>Company : </label><br>
		<input type="text" name="txtcompany" placeholder="Enter Company Name"><br><br>
		<label>Experience Details : </label><br>
		From<br>
		<select name="expstartm">
			<option hidden="">Month : </option>
			<option value="jan">January</option>
			<option value="feb">February</option>
			<option value="march">March</option>
			<option value="april">April</option>
			<option value="may">May</option>
			
			<option value="june">June</option>
			<option value="july">July</option>
			<option value="august">August</option>
			<option value="sept">September</option>
			
			<option value="oct">October</option>
			<option value="nov">November</option>
			<option value="dec">December</option>		
		</select>
		<select name="expstartyear">
			<option hidden="">Year</option>
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>

			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			
		</select><br>
		To<br>
		<select name="expendm">
			<option hidden="">Month : </option>
			<option value="jan">January</option>
			<option value="feb">February</option>
			<option value="march">March</option>
			<option value="april">April</option>
			<option value="may">May</option>
			
			<option value="june">June</option>
			<option value="july">July</option>
			<option value="august">August</option>
			<option value="sept">September</option>
			
			<option value="oct">October</option>
			<option value="nov">November</option>
			<option value="dec">December</option>		
		</select>
		<select name="expendyear">
			<option hidden="">Year</option>
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>

			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			
		</select>
		<br><br>
		<input type="submit" name="btn" value="Create">

	</fieldset>
	
</form>
</body>
</html>