<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="" method="post">
	{% csrf_token %}
<table>
	<tr>
		<td>
			<label>Name :</label>
	
		
			<input type="text" name="txtname" placeholder="Enter Full Name" required="">
		</td>

	</tr>
	<tr>
		<td>
			<label>Gender :</label> 
		
			<input type="radio" name="r1" required="">Male
			<input type="radio" name="r1" required="">Female
		</td>
	</tr>
	<tr>
		<td>
			<label>Number :</label> 
			<input type="text" name="txtmobile" placeholder="Enter Number" required="">
		</td>
	</tr>
	<tr>
		<td>
			<label>Select Courses :</label> 
			<select multiple="" required="" >
				<option hidden="">Select</option>
				<option value="php">PHP</option>
				<option value="java">Java</option>
				<option value="python">Python</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<label >Select Branch :</label> 
			
			<input type="checkbox" name="chk[]" >Vijay Nagar
			<input type="checkbox" name="chk[]" >Palasia
			<input type="checkbox" name="chk[]" >Bhawarkua
		</td>
	</tr>
	<tr>
		<td>
			<label>Description :</label>

			<textarea ></textarea>
		</td>
	</tr>
	<tr>
		<td>
			<input type="submit" name="btn" value="Register">
		</td>
	</tr>

</table>
</form>
</body>
</html>